.LayoutHome {
    padding: 0.5em;
}

.HeaderHome {
    background-color: #428BCA;
    color: white;
}

.SliderHome {
    background-color: white;
    border: 1px solid;
    margin-top: 0.9em;
}

.BoxSlider {
    /* margin: 1em; */
    padding: 0.5em;
    background-color: #428BCA;
    border-radius: 0.5em;
}

label {
    width: 9em;
    font-size: 0.5em;
    display: flex;
    justify-content: flex-end;
}

.ButtonModal {
    background-color: #428BCA;
    color: white;
    border-radius: 0.5em;
}

.error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10em;
}

.TypographyPanel {
    font-size: '1em';
    margin-left: '2em';
    cursor: pointer;
}